<div style="margin-bottom:5px; position:relative; overflow:hidden;">
    <h1 class="act-title">{link-category}</h1>
    <div class="act-news">


        [xfgiven_img]  [xfvalue_img]  [/xfgiven_img]


        <h1 class="title-actnews"><a href="{full-link}">{title}</a></h1>

        <div class="info_shortstory"> 
            <div>{link-category}</div> 
            <div>|</div>  
            <div class="data">{date}</div> 
            <div>|</div> 
            <div class="views">{views} </div>
            <a href="{full-link}"> подробнее »</a>

        </div>

        <p>{short-story}</p>

    </div>
</div>
<div style="width:770px; height:1px; background:#F00; margin-bottom:25px;"></div>