    <div class="razdel">
      <div class="news-r">
        <div class="title">[aviable=lastcomments]<h3>{news_title}</h3>[/aviable] {author} сказал:</div>
        {comment}
        <div class="data">{date}</div>
      </div>
    </div>