    <div class="razdel">
      <div class="news-r">
        <div class="title">Обратная связь</div>
        
        <table class="tableform">
  [not-logged]
    <tr>
      <td class="label">
        Ваше имя:<span class="impot">*</span>
      </td>
      <td><input type="text" maxlength="35" name="name" class="f_input" /></td>
    </tr>
    <tr>
      <td class="label">
        Ваш E-Mail:<span class="impot">*</span>
      </td>
      <td><input type="text" maxlength="35" name="email" class="f_input" /></td>
    </tr>
  [/not-logged]
    <tr>
      <td class="label">
        Кому:<span class="impot">*</span>
      </td>
      <td>{recipient}</td>
    </tr>
    <tr>
      <td class="label">
        Тема:<span class="impot">*</span>
      </td>
      <td><input type="text" maxlength="45" name="subject" class="f_input" /></td>
    </tr>
    <tr>
      <td class="label" valign="top">
        Сообщение:
      </td>
      <td><textarea name="message" style="width: 380px; height: 160px" class="f_textarea" /></textarea></td>
    </tr>
    [sec_code]<tr>
      <td class="label">
        Введите код:<span class="impot">*</span>
      </td>
      <td>
        <div>{code}</div>
        <div><input type="text" maxlength="45" name="sec_code" style="width:115px" class="f_input" /></div>
      </td>
    </tr>[/sec_code]
    [recaptcha]<tr>
      <td class="label">
        Введите два слова, показанных на изображении:<span class="impot">*</span>
      </td>
      <td>
        <div>{recaptcha}</div>
      </td>
    </tr>[/recaptcha]
  </table>
  <div class="fieldsubmit">
    <button name="send_btn" class="fbutton" type="submit"><span>Отправить</span></button>
  </div>
        
      </div>
    </div>