    <div class="razdel">
      <div class="news-r">

     
       <h1 class="title">{title} </h1>
		
		 <div class="info">
		 <div>{category}</div>
		 <div>|</div>
		 <div class="data">  {date} </div> 
		 <div>|</div>
		 <div class="views">{views}</div>
		 [edit] ред. [/edit]  
		 
		 <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
		<div style="float: right;margin-top: -5px;" class="yashare-auto-init" data-yashareL10n="ru"
			 data-yashareType="icon" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,gplus"></div>

		 </div>
		
            [xfgiven_img]  [xfvalue_img]  [/xfgiven_img]
            
        {full-story}
        
              		
		<div class="line clearfix" style="clear: both;">  </div>
				
                
      <!--   <div class="title">Комментарии к статье:</div> -->
       
        {comments}
	{navigation}
      
        {addcomments}
      </div>
    </div>
