    <div class="razdel">
      <div class="news-r">

        
[searchposts]

[fullresult]
        <div class="title">[result-link]{result-title}[/result-link]</div>
        <p>{result-text}</p>
        <div class="data">{result-date}</div> <div class="podrob" style="width:50%;" align="right">{link-category} | Автор: {result-author} | [not-group=5][edit]Редактировать[/edit][/not-group]</div>
[/fullresult]

[shortresult]
        <div class="title">[result-link]{result-title}[/result-link]</div>
        <b>{result-date}</b> | {link-category} | Автор: {result-author} | [not-group=5][edit]Редактировать[/edit][/not-group]
[/shortresult]

[/searchposts]

[searchcomments]

[fullresult]
        <div class="title">[result-link]{result-title}[/result-link]</div>
        <p>{result-text}</p>
        <b>{result-date}</b> | {link-category} | Автор: {result-author} | [not-group=5][edit]Редактировать[/edit][/not-group]
[/fullresult]

[shortresult]
        <div class="title">[result-link]{result-title}[/result-link]</div>
        <b>{result-date}</b> | {link-category} | Автор: {result-author} | [not-group=5][edit]Редактировать[/edit][/not-group]
[/shortresult]

[/searchcomments]
        
        
      </div>
    </div>