    <div class="razdel">
      <div class="news-r">
        <div class="title">Поиск по сайту</div>
          <div id="searchtable" name="searchtable" class="searchtable">{searchtable}</div>
        [searchmsg]{searchmsg}[/searchmsg]<br /><br />
      </div>
    </div>