    <div class="razdel">
      <div class="news-r">
	  
	    [xfgiven_img]  [xfvalue_img]  [/xfgiven_img]
	  
        <h1 style="margin-top:2px; margin-bottom: 2px;" class="title"><a href="{full-link}">{title}</a></h1>
      		
		<div class="info_shortstory">
		 <div>{category}</div>
		 <div>|</div>
		 <div class="data">  {date} </div> 
		 <div>|</div>
		 <div class="views">{views}</div>
		 <a href="{full-link}">подробнее » </a>
		 [edit] ред. [/edit]  
		 
		 </div>
		    
        {short-story}
        <div style="width:100%; height:1px"></div>
		
      </div>
    </div>