@charset "utf-8";
/* CSS Document */

body {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-image: url(../images/fon.jpg);
  background-repeat: repeat-x;
  background-color: #f6f6f6;
}
body,td,th {
  color: #000;
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
}
a:link {
  color: #2e669d;
  text-decoration: none;
}
a:visited {
  color: #2e669d;
  text-decoration: none;
}
a:hover {
  color: #2e669d;
  text-decoration: none;
}
a:active {
  color: #2e669d;
  text-decoration: none;
}
p {
  margin:0px;
}
.header {
  margin: auto;
  height: 161px;
  width: 970px;
  background-image: url(../images/hed-f.jpg);
  background-repeat: repeat-x;
}
.logo {
  height: 60px;
  width: 250px;
  background-image: url(../images/logo.jpg);
  margin-top: 30px;
  float: left;
}
.top-news {
  width: 660px;
  height: 115px;
  float: right;
  background-image: url(../images/hed-fvs.jpg);
  background-repeat: no-repeat;
  background-position: right;
  margin: 0px;
}
.top-text {
  width: 450px;
  margin-top: 6px;
}
.top-menu {
  height: 18px;
  width: 916px;
  margin-top: 116px;
  font-size: 11px;
  color: #FFF;
  font-weight: bold;
  padding: 6px;
  text-align: center;
}
.top-menu a {
  color: #FFF;
}
.content {
  margin-top: 10px;
  background-color: #FFF;
  overflow: hidden;
  width: 970px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.content-b {
  padding: 3px;
  margin-bottom: 10px;
}
.content-b ul{
  padding-left: 12px;
  margin: 0px;
}
.content-b li{
  list-style-type: disc;
  color: #F00;
}
.news {
  width: 770px;
  float: left;
  margin-left: 10px;
}
.razdel {
  width: 770px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
.razdel-t {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  padding-left: 25px;
  background-image: url(../images/title-b.jpg);
  background-repeat: repeat-y;
}
.news-r {
  width: 100%;
  font-size: 12px;
  float: left;
}
.news-cat {
  width: 500px;
  font-size: 12px;
  float: left;
}
.news .razdel .spisok {
  font-size: 9px;
  width: 260px;
  float: right;
}
.news .razdel .spisok ul {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  color: #F00;
  margin: 0px;
}
.news .razdel .spisok li {
  padding:0px;
  margin: 0px;

}

.news .razdel .news-r .title {
  font-size: 14px;
  color: #2E669D;
}
.news .razdel .news-cat .title {
  font-size: 14px;
  color: #2E669D;
}
.block {
  width: 170px;
  float: right;
  margin-right: 10px;
}
.title-b {
  height: 18px;
  font-size: 12px;
  width: 145px;
  padding-left: 25px;
  padding-top: 2px;
  font-weight: bold;
  background-image: url(../images/title-b.jpg);
}
.footer {
  height: 36px;
  width: 966px;
  background-image: url(../images/footer-f.jpg);
  color: #FFF;
  font-size: 9px;
  padding: 2px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}
.footer a {
  color: #FFF;
}
.footer .copy {
  width: 350px;
  float: left;
}
.footer .adress {
  width: 180px;
  float: right;
  vertical-align: middle;
}
.act-title {
  font-size: 18px;
  font-weight: bold;
  color: #F00;
  padding: 3px;
}

.title-actnews {
  font-size: 16px;
  color: #2e669d;
}
.act-news {
  font-size: 14px;
  margin-top: 10px;
  clear: left;
}

.data {
  color: #999;
  width: 180px;
  float: left;
  margin-top: 10px;
  font-size: 10px;
  margin-left: 10px;
}
.podrob {
  width: 120px;
  float: right;
  margin-top: 10px;
  font-size: 10px;
  margin-right: 5px;
}
