@charset'utf-8';
/* CSS Document */

/*  ##     ##    ###     ######  ##    ##  ######  
    ##     ##   ## ##   ##    ## ##   ##  ##    ## 
    ##     ##  ##   ##  ##       ##  ##   ##       
    ######### ##     ## ##       #####     ######  
    ##     ## ######### ##       ##  ##         ## 
    ##     ## ##     ## ##    ## ##   ##  ##    ## 
    ##     ## ##     ##  ######  ##    ##  ######   */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .3s;
}

a:focus {
  outline: 0;
}

.clearfix {
  display: inline-block;

  &:after {
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
  }
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

/* хаки конец */

/*
     ######   ##        #######  ########     ###    ##           ######  ######## ##    ## ##       ########
    ##    ##  ##       ##     ## ##     ##   ## ##   ##          ##    ##    ##     ##  ##  ##       ##
    ##        ##       ##     ## ##     ##  ##   ##  ##          ##          ##      ####   ##       ##
    ##   #### ##       ##     ## ########  ##     ## ##           ######     ##       ##    ##       ######
    ##    ##  ##       ##     ## ##     ## ######### ##                ##    ##       ##    ##       ##
    ##    ##  ##       ##     ## ##     ## ##     ## ##          ##    ##    ##       ##    ##       ##
     ######   ########  #######  ########  ##     ## ########     ######     ##       ##    ######## ########
*/

// variable
$red: #641627;
$blue: #0066a0;
$gray:#464646;
$light-gray:#a2a2a2;
$white:#fff;

// -------------------------------
html {
  font-size: 100.01%;
}

body {
  font-family: Trebuchet MS;
  font-size: 62.5%;
  width: 1400px;
  max-width: 100%;
  margin: 0 auto !important;
  color: $gray;
  background-image: url(../images/cartographer.jpg);
  background-repeat: repeat repeat;
  background-size: auto;
  padding: 0 20px;

  @media (max-width: 780px) {
    padding: 0;

  }

  &:before {
    position: fixed;
    z-index: 100;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
  }
}

td,
th {
  font-family: Trebuchet MS;
  color: $gray;
}

a {
  text-decoration: none;
}

.red {
  color: $red;
}

.red_bg {
  background-color: $red;
}

.blue {
  color: $blue;
}

.blue_bg {
  background-color: $blue;
}

.dispnone {
  display: none;
}

hr {
  clear: both;
  height: 1px;
  margin: 16px 0;
  border: none;
  background: #d5d5d5;
}

#banners a {
  img {
    opacity: .3;
    filter: alpha(opacity=30);
  }

  &:hover img {
    opacity: 1.0;
    filter: alpha(opacity=100);
  }
}

.news-r iframe {
  .html5-player-chrome {
    background: $red !important;
  }

  .html5-video-container {
    background: $blue no-repeat scroll center center !important;
  }
}

.wrapper {
  margin: 20px 20px 0;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

/*
    ##     ## ########    ###    ########  ######## ########
    ##     ## ##         ## ##   ##     ## ##       ##     ##
    ##     ## ##        ##   ##  ##     ## ##       ##     ##
    ######### ######   ##     ## ##     ## ######   ########
    ##     ## ##       ######### ##     ## ##       ##   ##
    ##     ## ##       ##     ## ##     ## ##       ##    ##
    ##     ## ######## ##     ## ########  ######## ##     ##
*/

body>header {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 780px) {
    margin-top: 60px;
  }

  .logo {
    width: 23%;
    transition: all .5s ease;
    transform: perspective(500px);

    &:hover {
      transform: perspective(500px) rotateX(15deg) rotateY(15deg);
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .intro {
    width: 76%;
    height: 73px;
    border-left: 3px solid #000;
    background-image: url(../images/bg_line.png);

    .block1 {
      font-family: trebuchet ms;
      display: flex;
      float: right;
      width: 33%;
      height: 100%;
      color: $white;
      background-color: #000;
      align-items: center;

      span.red,
      span.blue {
        font-size: 14px;
        font-weight: bold;
      }

      .block1_wrapper {
        margin: 0 auto;
      }

      a {
        color: $white;
      }

      .lang a:hover {
        text-decoration: underline;
      }
    }

    .head_name {
      font-size: 14px;
      display: flex;
      float: left;
      width: 63%;
      height: 53px;
      margin: 10px 0 0 20px;
      color: $white;
      flex-flow: row wrap;
      align-items: center;

      :first-child {
        font-size: 17px;
        margin-bottom: 3px;
        margin-left: 14px;
        letter-spacing: 16px;
        background-color: $red;
      }

      :last-child {
        padding: 1px 29px;
        background-color: black;
      }

      div {
        line-height: 21px;
        padding: 1px 14px;
        background: $blue;
      }

      img {
        width: 100%;
        max-width: 476px;
        height: auto;
      }
    }
  }
}

/* главное меню */

#nav {
  margin-top: 20px;
  flex-basis: 100%;

  .title_mobile { 
    display: none;
  }

  >ul {
    position: relative;
    z-index: 1000;
    display: flex;
    height: 40px;
    list-style: none;

    /*  box-shadow: 0 0 101px rgba(255, 255, 255, 0.49); */
    >li {
      font-size: 1.5em;
      line-height: 2.6em;
      width: 100%;
      height: 100%;
      text-align: center;
      flex-grow: 3;
      flex-basis: 0;
      ;
      ;

      &:not(:last-child)>a {
        border-right: 1px solid #3d3d3d;
      }

      &:first-child {
        border-top-left-radius: 4px;
        background-color: $blue;
        flex-grow: 1;
        flex-basis: 0;
        ;
        ;

        &:hover {
          background-color: $red;
        }

        i {
          font-size: 1.5em;
          line-height: 1.8em;

          &:before {
            cursor: pointer;
          }
        }
      }

      &:last-child {
        border-top-right-radius: 4px;
      }
    }
  }

  li {
    position: relative;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    background-color: #000;

    &:hover {
      -webkit-transition: background-color .2s linear;
      -moz-transition: background-color .2s linear;
      -ms-transition: background-color .2s linear;
      -o-transition: background-color .2s linear;
      transition: background-color .2s linear;
      background-color: $red;
    }

    ul {
      top: 100%;
      visibility: hidden;
      margin-left: -1px;
      padding: 0;
      list-style: none;
      transition: visibility 0s linear .2s, opacity .2s linear;
      opacity: 0;
      background-color: #000;

      a {
        padding-left: .75em;
        text-align: left;
        border-top: 1px solid #3d3d3d;
      }
    }

    &:hover ul {
      visibility: visible;
      transition-delay: 0s;
      opacity: .9;
      background-color: #000;
    }

    a {
      display: block;
      height: 100%;
      color: $white;
    }
  }

  a {
    //скрывает кнопки
    display: none;
    color: $white;
  }

  span:after {
    position: relative;
    right: -.6em;
    display: inline-block;
    width: 0;
    height: 0;
    content: '';
    vertical-align: middle;
    border: .313em solid rgba(0, 0, 0, 0);
    border-top-color: $white;
    border-bottom: none;
  }

  @media(max-width: 780px) {
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    background-color: #000;

    .title_mobile {
      font-size: 2em;
      position: absolute;
      top: 19px;
      right: 19px;
      display: block;
      color: $white;
      font-weight: 700;
    }

    >ul>li:first-child {
      width: 100%;
    }

    li {
      line-height: 3em !important;
      outline: none !important;
    }

    >a {
      position: relative;
      width: 7.125em;
      /* 50 */
      height: 5.525em;
      /* 50 */
      text-align: left;
      text-indent: -9999px;
      background-color: #000;

      &:before {
        position: absolute;
        top: 24%;
        right: 25%;
        left: 25%;
        content: '';
        border-top: 3px solid $white;
      }

      &:after {
        position: absolute;
        top: 24%;
        top: 40%;
        right: 25%;
        left: 25%;
        height: 6px;
        content: '';
        border-top: 3px solid $white;
        border-bottom: 3px solid $white;
      }
    }

    &:not(:target)>a:first-of-type {
      display: block;
    }

    &:target {

      >a:last-of-type,
      >ul {
        display: block;
      }
    }

    >ul {
      position: absolute;
      right: 0;
      left: 0;
      display: none;
      height: auto;
      margin-top: 7px;
    }

    >ul>li {
      font-size: 1.7em !important;
      float: none;
      width: 100%;

      >a {
        height: auto;
        padding: 0 .833em;
        text-align: left;
      }

      &:not(:last-child)>a {
        border-right: none;
        border-bottom: 1px solid #3d3d3d;
      }
    }

    li {
      ul {
        display: block;
        visibility: visible;
        margin-top: -1px;
        padding-top: 0;
        padding-left: 20px;
        opacity: 1;
        outline: none;
      }
    }
  }
}

/* главное меню конец */

/*
    ##     ##    ###    #### ##    ##
    ###   ###   ## ##    ##  ###   ##
    #### ####  ##   ##   ##  ####  ##
    ## ### ## ##     ##  ##  ## ## ##
    ##     ## #########  ##  ##  ####
    ##     ## ##     ##  ##  ##   ###
    ##     ## ##     ## #### ##    ##
*/

body>main {
  position: relative;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  background-color: $white;
  box-shadow: 0 0 5px #2c2c2c;
}

.img_actual_news {
  position: relative;
  // max-width: 295px;
  background-color: #aaa;
  flex: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .actual_news_category {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 18px;
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 18px;
    text-align: center;
    color: $white;
    background-color: #571c2b;

    a {
      color: $white;
    }
  }
}

.act-news {
  position: relative;
  margin-left: 20px;
  background-color: #f7f7f7;
  flex: 2;

  p {
    font: 500 1.4em/1.35em Trebuchet MS;
    overflow: hidden;
    max-height: 135px;
    padding: 10px 15px;

    a {
      color: $gray;
    }
  }

  @media(max-width: 1024px) {
    width: 65%;

    p {
      max-height: max-content;
      // padding-bottom: 30px;
    }
  }

  @media(max-width: 780px) {
    width: 100%;
    margin: 0;
  }

  @media(max-width: 450px) {
    width: 95%;
    margin-left: auto;
  }

  .title-actnews {
    font-size: 1.8em;
    font-weight: normal;
    min-height: 53px;
    margin: 0;
    text-transform: uppercase;
    color: $white;
    background-color: $red;

    a {
      font: 600 1.15em/1.35em Trebuchet MS;
      display: block;
      padding: 10px;
      color: $white;
    }
  }
}

.tools {
  margin-left: 20px;
  color: $light-gray;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#calendar {
  font-size: 16px !important;
  position: relative;
}

.calendar {
  margin-right: 0;
  color: $red;
}

.tooltip_calendar {
  position: absolute;
  z-index: 2000;
  top: 0;
  display: none;
  width: 300px;
  padding: 10px;
  transition: visibility 0s linear .2s, opacity .2s linear;
  opacity: 0;
  border-radius: 4px;
  background-color: #f7f7f7;
  box-shadow: 0 3px 12px rgba(51, 51, 51, .29);
}

.calendar:hover .tooltip_calendar {
  display: block;
  transition-delay: 0s;
  opacity: 1;
}

.monthselect {
  font-size: 15px;
  color: $light-gray;

  a {
    font-size: 15px;
    color: $light-gray;
  }
}

.day-active-v {
  color: $white;
  background-color: $blue;
}

.day-active {
  color: $white;
  background-color: $red;
}

.day-current {
  color: $white;
  background-color: #adadad !important;

  a {
    background-color: $light-gray !important;
  }
}

.date {
  font-size: 1.0em;
  font-weight: bold;
  height: 15px;
  text-transform: uppercase;

  a {
    font-size: 1.1em;
    margin-right: 3px;
  }

  .d1 {
    color: #460d53;
  }

  .d2 {
    color: #883039;
  }

  .d3 {
    font-size: 1.3em;
    display: none;
    word-spacing: 4px;
    color: #b24526;
    background: url(/templates/Full/images/clocks.gif) 50% no-repeat;
  }
}

.search {
  font-size: 16px;
  width: 96%;
  height: 45px;
  padding-left: 10px;
  // color: $light-gray;
  border: 1px solid #e5e5e5;

  &:focus {
    width: 96%;
    text-decoration: none;
    border: 1px solid #94d9ff;
    outline: none;
    box-shadow: 0 0 10px #94d9ff;
  }
}

.form1 {
  position: relative;
}

#search {
  position: absolute;
  top: 7px;
  right: 10px;
}

.social {
  display: flex;
  margin-top: 18px;
  color: #fff;
  background: #f7f7f7;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;

  div {
    height: 50px;
    border-radius: 4px;
    flex: 0 0 28%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: $white;
    }
  }
}

.google {
  background-color: #440d52;

  &:hover {
    background-color: #ce3d2b;
  }
}

.youtube {
  background-color: #98372f;

  &:hover {
    background-color: #c4302b;
  }
}

.twitter {
  background-color: #852e38;

  &:hover {
    background-color: #00acee;
  }
}

.facebook {
  background-color: #dc5b08;

  &:hover {
    background-color: #3c5a98;
  }
}

.rss {
  background-color: #ae4325;

  &:hover {
    background-color: #f90;
  }
}

.sub {
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-top: 4px;
  padding-left: 43px;
  text-transform: uppercase;
  color: $white;
  /*    border-bottom: 3px solid #DFDFDF; */
  border-radius: 3px;
  background-color: #ffaf2a;
  box-shadow: inset 0 -2px rgba(0, 0, 0, .06);

  &:hover {
    color: $blue;
    background-color: #fcb705;
  }

  &:active {
    border-bottom: 0;
  }

  i {
    font-size: 27px;
    position: absolute;
    top: -2px;
    left: -35px;
  }
}

.opros {
  font-size: 1.8em;
  bottom: -50px;
  float: left;
  width: 100%;
  padding-left: 61px;
  background-color: $blue;

  span {
    top: 7%;
    padding-top: 2px;
  }
}

.label {
  position: relative;
  top: 0;
  display: block;
  width: 166px;
  height: 100%;
  margin: 0 auto;
  transition: top .35s;
}

.label1 {
  position: relative;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: top .35s;
}

.sub:hover .label,
.bottom_banner:hover .label,
.sub:hover .label1,
.bottom_banner:hover .label1 {
  top: -100%;
}

.actual_news_last {
  border-top: 1px dashed #dfdfdf;

  h3 {
    position: relative;
    top: -8px;
    width: 44px;
    color: $light-gray;
    background-color: $white;
  }

  ul {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 16px;
    display: flex;
    min-height: 80px;
    margin-top: 5px;
    margin-left: 18px;
    list-style: square;
    color: $light-gray;
    flex-wrap: wrap;

    li {
      line-height: 24px;
      position: relative;
      width: 48%;
      margin-right: 2%;
      margin-bottom: 4px;
      background: $white;
    }
  }

  a {
    display: block;
    height: 18px;
    color: $light-gray;

    &:hover {
      color: $blue;
    }
  }
}

/*
    ##          ###     ######  ########         ##    ## ######## ##      ##  ######
    ##         ## ##   ##    ##    ##            ###   ## ##       ##  ##  ## ##    ##
    ##        ##   ##  ##          ##            ####  ## ##       ##  ##  ## ##
    ##       ##     ##  ######     ##            ## ## ## ######   ##  ##  ##  ######
    ##       #########       ##    ##            ##  #### ##       ##  ##  ##       ##
    ##       ##     ## ##    ##    ##            ##   ### ##       ##  ##  ## ##    ##
    ######## ##     ##  ######     ##    ####### ##    ## ########  ###  ###   ######
*/

main .content {
  grid-gap: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  .last_news {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.9em;
    align-items: start;

    article {
      >a {
        position: relative;
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 200px;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @media (max-width: 450px) {
          // display: none;
        }

        &:before {
          font-family: 'Font Awesome 5 Free' !important;
          font-size: 25px;
          font-style: normal;
          font-variant: normal;
          line-height: 131px;
          position: absolute;
          display: inline-block;
          width: 100%;
          height: 99%;
          content: '\f008';
          transition: all .3s .5s ease-in;
          text-align: center;
          color: $gray;
          background-color: rgba(0, 0, 0, 0);
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          opacity: 0;
        }

        &:hover:before {
          color: rgba(255, 255, 255, .6);
          background-color: rgba(0, 0, 0, .4);
          opacity: 1;
        }
      }
      >div {
        img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
      header {
        overflow: hidden;
        position: relative;
        height: 100px;
        margin-top: -21px;

        @media (max-width: 450px) {
          margin-top: 0;
        }

        h1 {
          font: 600 1.45em/1.25em Trebuchet ms;
          display: block;
          overflow: hidden;
          height: 100%;
          margin: 0;
          padding: 14px;
          background-color: $blue;
        }

        a:hover {
          color: #bbe6ff;
        }

        h1 a {
          display: block;
          height: 100%;

          &:visited {
            background-color: rgba(143, 145, 146, 1);
          }
        }

        .category {
          line-height: 18px;
          width: 87px;
          height: 18px;
          text-align: center;
          color: $white;
          background-color: $red !important;

          @media(max-width: 450px) {
            display: none;
          }
        }

        a {
          color: $white;
        }
      }

      main {
        position: relative;
        height: 180px;
        padding: 14px;
        border-bottom: 3px solid $blue;
        background-color: #f2f2f2;

        span {
          // font: 100 14px/18px Trebuchet MS;
          // display: block;
          // overflow: hidden;
          // height: 107px;

          font: 100 14px/18px Trebuchet MS;
          overflow: hidden;
          height: 107px;
          text-overflow: ellipsis;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
          display: -webkit-box;

          a {
            color: $blue;
          }
        }

        .info {
          margin: 20px 0;
          padding: 0;
        }
      }

      &:hover {
        margin-top: -5px;
        box-shadow: 0 4px 10px #d2d2d2;
      }
    }
  }
}

.content aside {
  position: relative;
  flex: 1;

  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  // grid-gap: 2em;
  // grid-auto-rows: max-content;
  // margin-bottom: 40px;
  // margin-left: 0px;
  @media (max-width: 1000px) {
    grid-column: 1/4;
  }

  @media (max-width: 780px) {
    height: auto;

    ul {
      margin-left: -2%;
    }

    li {
      display: inline-block;
      width: 29%;
      margin-left: 2.5%;
    }
  }

  h3 {
    position: relative;
    z-index: 300;
    top: 7px;
    display: inline-block;
    padding-right: 7px;
    color: $gray;
    background-color: $white;
  }

  hr {
    display: block;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: $light-gray;
  }

  .topnews>ul {
    list-style: none;

    li {
      font-size: 1.4em;
      font-weight: 600;
      line-height: 18px;
      position: relative;
      padding: 20px 0 10px;
      border-bottom: 1px solid #efefef;
      width: 100%;

      &:last-child {
        border: none;
      }

      @media (max-width: 450px) {
        width: 94%;

        a {
          min-height: inherit;
        }
      }

      >a {
        display: block;
        overflow: hidden;
        max-height: 34px;
        color: $gray;
      }
    }
  }

  a:hover {
    color: $blue !important;
    text-decoration: underline;
  }

  .info {
    bottom: 0 !important;
    bottom: 10px !important;
    padding: 0 !important;
  }
}

.col_right {
  margin-left: 20px;
  flex-basis: 0;
  flex-grow: 1;
}

.mm-body {
  margin-top: 12px;
  /* opacity: .85; */
  padding: 0 !important;
}

.sape {
  position: relative;
  padding: 40px 0;
  color: $light-gray;

  .title-b {
    font-size: 1.17em;
    font-weight: bold;
    position: relative;
    top: -8px;
    width: 44px;
    padding-right: 8px;
    text-transform: uppercase;
    background-color: $white;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2em;
  }

  li {
    list-style: none;
  }

  a {
    color: $light-gray;
  }
}

.img_fullstory {
  overflow: hidden;
  background-image: url(/templates/Full/images/no_image.png);
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;
  flex-basis: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.footer_news {
  font-size: 12px;
  padding: 36px 18px 36px 18px;
  background: #f7f7f7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2em;

  ul {
    list-style: none;
  }

  h3 {
    font-size: 1em;
    color: $gray;
    border-bottom: 2px solid;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  }

  ul li {
    line-height: 18px;
    position: relative;
    overflow: hidden;
    height: 5em;
    border-top: 1px solid #e4e4e4;
  }

  a {
    font-family: 'trebuchet ms', Arial, sans-serif;
    font-size: .98em;
    position: absolute;
    top: 50%;
    display: block;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: $gray;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);

    &:hover {
      color: $blue;
    }
  }
}

.bottom_banner {
  display: block;
  float: left;
  overflow: hidden;
  width: 48%;
  height: 54px;
  margin-top: 46px;
  margin-bottom: 36px;

  img {
    width: 100%;
    max-width: 476px;
    height: auto;
  }
}

.razdel-t {
  font-size: 14px;
  font-weight: bold;
  padding-left: 13px;
  border-left: 4px solid $red;
}

.shortstory {
  display: flex;
  background: #f7f7f7;
  flex-wrap: wrap;

  h1 {
    padding-top: 18px;
    text-transform: uppercase;

    a {
      color: $gray !important;
    }
  }

  .img_fullstory {
    margin-right: 18px;
  }
}

.news-cat {
  font-size: 12px;
  float: left;
  width: 520px;
  margin-top: -5px;
}

.news .razdel .spisok {
  font-size: 10px;
  float: right;
  width: 240px;
  margin-top: 61px;

  ul {
    margin: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 10px;
    color: $red;
  }

  li {
    margin: 0;
    padding: 0;
  }
}

#dle-content {
  padding-bottom: 20px;
  grid-column: 1/4;
}

.block {
  float: right;
  width: 170px;
  margin-right: 10px;
  border-left: 1px solid #ddd;
}

.footer {
  margin: 0 auto;
  border-top: 2px solid #999;

  a {
    color: $white;
  }
}

.footer_content {
  height: 10px;
  background: #181818;
}

.block-footer {
  float: right;
  margin: 5px 226px 3px 15px;
  filter: grayscale(100%);
}

.copyright {
  height: 100px;
  padding: 23px 2px 3px 2px;
  color: $light-gray;
  background-color: #000;
}

.footer {
  .copy {
    float: left;
    margin-left: 21px;
  }

  .adress {
    float: right;
    margin-top: 26px;
    margin-right: 57px;
  }
}

.act-title {
  font-size: 18px;
  font-weight: bold;
  padding: 3px;
  color: #000;

  a {
    color: $red;
  }
}

.podrob {
  font-size: 10px;
  float: left;
  margin-top: 10px;
}

.b-top {
  position: fixed;
  z-index: 2600;
  bottom: 15px;
  left: 0;
  width: 34%;
  margin-left: 50%;

  &:hover {
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

.b-top-but {
  font-size: 18px;
  position: absolute;
  z-index: 2600;
  bottom: 0;
  left: 52px;
  display: block;
  margin: 0 0 0 100%;
  padding: 10px 10px 6px 9px;
  color: rgba(0, 0, 0, 1);
  border-radius: 7px;
  background-color: rgba(255, 255, 255, .7);
  box-shadow: 0 0 11px rgba(32, 32, 32, .28);
}

.dpad {
  float: left;
  height: 50px;
  margin-top: 8px;
  text-transform: uppercase;
}

#vote-layer {
  font-size: 12px;
  line-height: 22px;
}

.fbutton {
  font-size: 11px;
  padding: 3px;
  color: $white;
  border: 0;
  background-color: $blue;
}

.line {
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid $light-gray;
}

.voteprogress {
  background-color: $light-gray;
}

.vote1,
.vote2,
.vote3,
.vote4 {
  display: block;
  padding: 5px;
  color: $white;
}

.vote1 {
  background-color: $red;
}

.vote2 {
  background-color: $blue;
}

.navigation {
  font-size: 14px;

  a {
    line-height: 30px;
    display: block;
    float: left;
    width: 40px;
    height: 30px;
    margin-right: 6px;
    text-align: center;
    color: $white;
    border-radius: 4px;
    background-color: #d5d5d5;

    &:hover {
      margin-top: 1px;
      box-shadow: inset 0 1px 2px #a9a9a9;
    }
  }

  >span {
    background-color: $blue;
    @extend a;

    &:hover {
      background-color: $blue;
    }
  }
}

.nav_ext {
  background-color: #d5d5d5 !important;
}

.col_right .topnews {
  /*margin-top: 235px;*/
  width: 100%;
}

#jump,
#back {
  display: none;
}

.nextprev {
  position: absolute;
  bottom: 4px;
  display: none;
  padding: 2px 4px;
  color: rgb(255, 255, 255);
  border-radius: 2px;
  background-color: $blue;
  box-shadow: 0 2px 1px rgb(180, 180, 180);

  a {
    margin-right: 17px;
  }
}

.toggleMenu {
  display: none;
}

.banner-left {
  position: relative;
  margin-top: 11px;

  img {
    position: absolute;
    width: 100%;
    height: auto;
    transition: all .3s;
    opacity: 0;

    +img {
      opacity: 1;
    }
  }

  &:hover img {
    transition: all .3s;
    opacity: 1;
  }
}

/*
    ######## ##     ## ##       ##           ######  ########  #######  ########  ########
    ##       ##     ## ##       ##          ##    ##    ##    ##     ## ##     ## ##
    ##       ##     ## ##       ##          ##          ##    ##     ## ##     ## ##
    ######   ##     ## ##       ##           ######     ##    ##     ## ########  ######
    ##       ##     ## ##       ##                ##    ##    ##     ## ##   ##   ##
    ##       ##     ## ##       ##          ##    ##    ##    ##     ## ##    ##  ##
    ##        #######  ######## ########     ######     ##     #######  ##     ## ########
*/

.news-r {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 22px;
  border-bottom: none;

  @media (max-width: 780px) {
    padding: 0;
  }

  @media (max-width: 450px) {
    font-size: 15px;
    padding: 0;
  }

  header {
    position: relative; // margin-bottom: 22px;
    display: flex;
    min-height: 200px;
    background: #f2f2f2;
  }

  .title {
    position: relative;
    width: 67%;
    padding: 20px 20px 60px;

    @media(max-width: 450px) {
      width: auto;

      h1 {
        font-size: 16px;
      }
    }

    @media (max-width: 780px) {
      // width: 64%;
    }

    .info {
      position: absolute;
      bottom: 10px;
      display: flex;
      height: 30px;
      padding-top: 5px;
      justify-content: space-between;

      .ya-share2 {
        margin-top: -20px;

        @media(max-width: 1024px) {
          display: none;
        }
      }
    }

    h1 {
      font-size: 24px;
      line-height: 30px;
      margin: 0 0 1em !important;
      color: $gray !important;

      a {
        color: $gray !important;
      }
    }
  }

  ul {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 26px;
  }

  h2 {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  a {
    color: $blue;
  }

  iframe {
    width: 100% !important;
    height: 36em !important;
  }
}

.info {
  font-size: 10px;
  // position: absolute;
  // right: 0;
  // bottom: 15px;
  // left: 0;
  display: flex;
  padding-left: 15px;
  color: $light-gray;
  margin: 10px 0;

  div {
    margin-right: 5px;
  }

  a {
    font-weight: bold;
    color: $blue !important;
  }
}

.mm-body {
  margin-top: 0 !important;
}

.mm-body__line {
  margin-top: 20px;
}

.full_content {
  font-size: 1.4em;
  line-height: 1.6em;
  padding-right: 20px;

  p,
  ol {
    margin-bottom: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  iframe {
    width: 100%;
    height: 30em !important;

    @media(max-width: 780px) {
      height: 16em !important;
    }
  }

  @media(max-width: 780px) {
    margin-left: 20px;
  }

  ul,
  ol {
    margin-left: 20px;
  }

  h1,
  h2,
  h3 {
    padding: 10px 0;
  }
}

.relatednews_block {
  position: relative;
  border-top: 1px dashed #dfdfdf;
  margin-top: 40px;

  .wrap {
    padding: 20px 0;
  }

  h3 {
    font-size: 12px;
    position: relative;
    top: -7px;
    width: fit-content;
    padding-right: 10px;
    color: $red;
    background-color: $white;
  }

  .relatednews_text,
  li a {
    font-size: 14px;
    line-height: 18px;
    display: block;
    color: $gray;
    padding-bottom: 20px;
    font-weight: 700;
  }

  li {
    list-style: none;
  }
}

.relatednews_text,
li a :hover {
  color: $blue;
}

// -------------------------------------
/* Рекламная сеть Яндекса */

#ya_partner_Ya_sync_0-horizontal .ya-partner__title-link-text {
  font-size: 123% !important;
  text-decoration: none !important;
  color: $blue !important;
}

@media screen and (max-width: 1024px) {
  #dle-content {
    width: 100%;
  }

  // .img_actual_news {
  //     width: 31.3%;

  //     img {
  //         width: 100%;
  //         height: auto;
  //     }
  // }

  .block-footer {
    margin: 5px 140px 3px 15px;
  }

  .head_name {
    display: block;
    float: left;
    width: 55%;
    height: 53px;
    margin: 17px 0 0 13px;
  }

  .block1 {
    width: 40%;
  }

  .active {
    display: block;
  }

  .opros,
  .sape_main,
  .sape {
    display: none;
  }

  .col_right .topnews {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }

  .tools {
    display: none;
  }

  .col_right {
    float: left;
    width: auto;
    margin-left: 18px;
  }

  .bottom_banner {
    display: none;
  }
}

@media (max-width: 780px) {
  .wrapper-mobile {
    margin: 0 0 40px;
  }

  .header {
    height: 51px;
    margin: 0;
  }

  .reveal-modal {
    display: none;
  }

  .bottom_banner {
    float: none;
    width: 97%;
  }

  .b-share {
    display: none;
  }

  .actual_news_last {
    ul li {
      margin-bottom: 11px;
    }

    a {
      font: 100 1.2em/1.4em Trebuchet MS;
      height: inherit;
    }
  }

  .img_actual_news,
  .intro {
    display: none;
  }

  .top-news {
    display: none;
    float: none;
  }

  .logo {
    display: none;
    width: 38%;
    margin: 0 auto;
  }

  .tools {
    display: none;
  }

  .actual_news_last ul li {
    width: 100%;
  }

  .opros {
    display: none;
  }

  #dle-content {
    width: 100%;
  }

  .sape,
  .sape_main {
    display: none;
  }

  .col_right {
    position: relative;
    float: left;
    width: 100%;

    .topnews {
      width: 100%;
      margin-top: 0;
    }
  }

  #scroller {
    display: none !important;
  }

  .block-footer {
    display: none;
  }
}

@media (max-width: 450px) {
  .img_actual_news {
    display: none;
  }

  .img_fullstory {
    display: none;
  }

  .relatednews_block {
    display: none !important;
  }

  .col_right .topnews {
    display: none;
  }
}