<div class="date">
	<a rel="nofollow" id="calendar" class="calendar" href="#calendar-layer">
		<!-- <div id="clock" class="clock">loading ...</div> -->
		{include file="engine/modules/nowdate.php"}
		<div class="tooltip_calendar">
			<noindex> {calendar} </noindex>
		</div>
	</a>
</div>
<br>
<!-- форма поиска -->
<form class="form1" action="" name="searchform" method="post">
	<input type="hidden" name="do" value="search" />
	<input type="hidden" name="subaction" value="search" />
	<input class="search" id="story" name="story" value="поиск по сайту" onblur="if (this.value == '')
												this.value = 'поиск по сайту';" onfocus="if (this.value == 'поиск по сайту')
												this.value = '';" type="text" />
	<div id="search"><i class="icon-search icon-large "></i></div>
</form>
<div class="social">
	<!-- <div class="google">
		<noindex><a href="//plus.google.com/109299032366840954695?prsrc=3" rel="publisher" target="_top"
				style="text-decoration:none;"><i class="fab fa-google fa-2x"></i></a></noindex>
	</div> -->
	<div class="youtube">
		<noindex><a href="https://www.youtube.com/user/tirasru/feed" rel="nofollow" target="_blank"><i
					class="fab fa-youtube fa-2x"></i></a>
		</noindex>
	</div>
	<div class="twitter">
		<noindex>
			<a href="https://twitter.com/iatiras" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
		</noindex>
	</div>
	<div class="facebook">
		<noindex><a href="https://www.facebook.com/tiras.ru" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
		</noindex>
	</div>
	<div class="rss"><a href="https://tiras.ru/rss.xml"><i class="fas fa-rss fa-2x"></i></a></div>
	<!--   подписка на новости -  никогда не работала
						<a class="sub" href="#" data-reveal-id="myModal">
									<span class="label"><i class="far fa-envelope"></i> подписатся <br> на рассылку новостей</span>
									<span class="label"><i class="far fa-envelope"></i>  подписатся <br> на рассылку новостей</span>
						</a> -->
</div>