<div class="topnews">
						<h3>ПОПУЛЯРНОЕ</h3>
						<hr>
						<ul>{topnews}</ul>
					</div>
					<!-- <div class="partner_news">
						<h3>НОВОСТИ ПАРТНЕРОВ</h3>
						<hr>
						<br>
						<script src='//mediametrics.ru/partner/inject/injectv2.js' type='text/javascript' id='MediaMetricsInject'
							data-adaptive='true' data-img='false' data-type='std' data-bgcolor='FFFFFF' data-bordercolor='000000'
							data-linkscolor='464646' data-transparent='true' data-rows='5' data-inline='' data-fontfamily='trebuchet'
							data-border='' data-borderwidth='0' data-place='left' data-fontsize='13' data-lineheight=21
							data-visiblerows=3 data-fontweight=bold data-fontalign=left data-textposition="bottom"
							data-fontfamilycurrent="Trebuchet MS" data-period='online' data-alignment='vertical' data-country='ru'
							data-site='mmet/tiras_ru'>
							</script>
					</div> -->

					[not-aviable=main]
					<div class="sape">
						<h3>РАЗНОЕ</h3>
						<hr>
						<br>
						<br>
						{sape_links}
					</div>
					[/not-aviable]
					
					<!--   <div id="opros">
								<h1>ОПРОС ДНЯ</h1>
								<div class="content-b">{vote}</div>
								<a class="close-reveal-modal">&#215;</a>
							</div>
							<a class="sub opros"  href="#" data-reveal-id="opros">
								<span class="label"><i class="icon-thumbs-up"></i>Опрос дня</span>
								<span class="label"> <i class="icon-thumbs-down"></i>Опрос дня</span>
							</a>-->