<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
{headers}
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!-- header -->
<div class="header">
  <div style="width:21px; height:161px; background-image:url(images/hed1.jpg); float:left;"></div>
  <div style="width:928px; height:161px; float:left">
    <div class="logo"></div>
    <div class="top-news">
    </div>
        <div class="top-menu">
          </div>
    </div>
<div style="width:21px; height:161px; background-image:url(images/hed2.jpg); float:right;"></div></div>
<!-- header end -->

<!-- content -->
<div class="content">
  <div style="width:970px; height:9px;">
    <div style="width:780px; height:9px; float:left;">
      <div style="background:url(images/content-l.jpg); float:left; width:9px; height:9px;"></div>
    </div>
    <div style="width:190px; height:9px; background:#FFF; float:right;">
      <div style=" background:url(images/block-r.jpg); float:right; width:9px; height:9px;"></div>
    </div>
  </div>
  <div style="width:970px; height:3px;"></div>
  <h2 align="center" style="color:#F00">Сайт временно отключен</h2>
  <p align="center">Приносим извинения за доставленные неудобства</p>
  <p align="center">Пожалуйста зайдите позже</p>  <br />  <br />  <br />  <br />
</div>
<!-- content end -->

<!-- footer -->
<div class="footer">

</div>
<!-- footer end -->
</body>
</html>