      <article class="news-r wrapper">
        <h1>Поиск по сайту</h1>
          <div id="searchtable" name="searchtable" class="searchtable">{searchtable}</div>
          <br>
        [searchmsg]{searchmsg}[/searchmsg]
        <br><br>
      </article>
