<!--    <div class="razdel">
      <div class="news-r">
-->
        
<!--  <div id="votes" class="block" style="margin-bottom: 6px;">
  <div class="dtop">&nbsp;</div>
  <div class="dcont">
  <div class="btl">-->
<!--      <h4>Опрос</h4>
      <form method="post" name="vote_result" action=''>
        <input type="hidden" name="vote_action" value="results" />
        <input type="hidden" name="vote_id" value="1" />
        <button class="vresult" type="submit" onclick="ShowAllVotes(); return false;" ><span>Все опросы</span></button>
      </form> -->
<!--    </div>--><br>
<p><b>{title}</b></p>
    <div class="dpad">
      [votelist]<form method="post" name="vote" action=''>[/votelist]
      {list}
      <br />
      [voteresult]<div><small>Всего проголосовало: {votes}</small></div>[/voteresult]
      [votelist]
        <input type="hidden" name="vote_action" value="vote" />
        <input type="hidden" name="vote_id" id="vote_id" value="1" />
        <button class="fbutton" type="submit" onclick="doVote('vote'); return false;" ><span>Голосовать</span></button>&nbsp;<button class="fbutton" type="button" onclick="doVote('results'); return false;" ><span>Результаты</span></button>
      </form>
      [/votelist]
    </div>
<!--  </div>-->
  <div class="dbtm">&nbsp;</div>
<!--</div>-->
        
        
<!--      </div>
    </div> -->
