/* By Elegant Division (http://e-div.com) */

/* Таблица календаря */
#edTableCalendar { width: 100%; height: 71px; text-align: center; margin-bottom: 20px; border: solid #E5E5E5; border-width: 1px 0; border-collapse: collapse; border-spacing: 0; font: normal 12px/16px Tahoma, Arial, sans-serif; padding: 0; }
	#edTableCalendar td { vertical-align: middle; padding: 0; margin: 0; }
	
	/* Месяц + год */
	#edTableCalendar .edMonth { font-size: 14px; font-weight: bold; color: #368FDE; /* padding: 6px 0; */ border-bottom: 2px solid #b9dbea; }
	/* Loader, данный класс появляется когда грузится информация (AJAX) */
	#edTableCalendar .edMonth.edLoading { background: url('ajax-loader.gif') no-repeat 99% 50%; }
	
	/* Ссылки на предыдущий / следующий месяц */
	#edTableCalendar .edMonthLink { border: solid #F0F0F0; cursor: pointer; width: 20px; background-color: #FFF; }
		/* Предыдущий месяц */
		#edTableCalendar .edMonthLink.edPrevMonth { border-width: 0 1px 0 0; background: url('arrowLeft.png') no-repeat 50% 50%; }
		#edTableCalendar .edMonthLink.edPrevMonth:hover { background-image: url('arrowLeftHover.png'); }
		/* Следующий месяц */
		#edTableCalendar .edMonthLink.edNextMonth { border-width: 0 0 0 1px; background: url('arrowRight.png') no-repeat 50% 50%; }
		#edTableCalendar .edMonthLink.edNextMonth:hover { background-image: url('arrowRightHover.png'); }
		#edTableCalendar .edMonthLink.edNextMonth.edNo { opacity: .7; cursor: default; }
		#edTableCalendar .edMonthLink.edNextMonth.edNo:hover { background-image: url('arrowRight.png'); }
	
	/* Дни (1,2,3,4,5....) */
	#edTableCalendar tr:last-child td { border-right: 1px solid #F0F0F0; padding: 4px 0; }
	#edTableCalendar tr:last-child td:last-child { border-right: none; }
	
	/* Дни недели (пн вт ср чт пт сб вс)*/
	#edTableCalendar span { display: block; font-size: 11px; opacity: .6; margin: 0; padding: 0; }
	
	/* Суббота или воскресенье */
	#edTableCalendar td.edWeekEnd { background-color: #F4F8FA; color: #B270CE; }
	
	/* Сегодняшний день */
	#edTableCalendar td.edCurrentDay { font-weight: bold; background-color: #FAF7E6; color: #000; }
	
	/* В данный день есть новость */
	#edTableCalendar td.edActiveDay {}
	
	
	#edTableCalendar a { display:block; }
	#edTableCalendar a:hover { color:red }
	
	#edTableCalendar td.edActiveDay:hover {
	border-top:2px red solid
	
	} 
	