<html>
<head>
<meta content="text/html; charset=windows-1251" http-equiv=Content-Type>
<style>
body{ 
	font-family: Verdana, Tahoma, Arial, Trebuchet MS, Sans-Serif, Georgia, Courier, Times New Roman, Serif;
	font-size: 11px;
	margin: 0;
	padding: 0; /* required for Opera to have 0 margin */
}
.errorwrap {
	background: #F2DDDD;
	border: 1px solid #992A2A;
	border-top: 0;
	margin: 5px;
	padding: 0;
}


.errorwrap h4 {
	background: #E3C0C0;
	border: 1px solid #992A2A;
	border-left: 0;
	border-right: 0;
	color: #992A2A; 
	font-size: 12px;
	font-weight: bold; 
	margin: 0;
	padding: 5px;
}

.errorwrap p {
	background: transparent;
	border: 0;
	color: #992A2A;
	margin: 0;
	padding: 8px;
	font-size: 11px;
}
</style>
<title>Аккаунт заблокирован</title>
</head>
<body>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<table border="0" width="600" cellspacing="0" cellpadding="0" align="center">
<tr>
<td width="100%">
<div class="errorwrap">
<h4>Ваш аккаунт на сайте заблокирован:</h4>
<p>Ваша учетная запись на сайте была заблокирована администратором. При этом были указаны следующие причины:</p>
<p>{description}</p>
<p>Срок окончания блокировки: {end}</p>
<p>Это полностью автоматический процесс блокировки и от вас не требуется ничего делать для его ускорения или прекращения.</p>
</div>
</td>
</tr>
</table>

</body>
</html>