<div class="img_actual_news" loading="lazy">
  [xfgiven_img]  [xfvalue_img]  [/xfgiven_img]    <!-- картинка -->
  <div class="actual_news_category"><a href="{full-link}">Тема дня</a> <i class="icon-angle-right"></i></div>
</div>

	<div class="act-news">
		<h1 class="title-actnews"><a href="{full-link}">{title}</a></h1>
        <p><a href="{full-link}">{short-story}</a></p>
		<br>
    <div class="info"> 
          <div><a href="{full-link}">Тема дня</a> | {date} | <i class="far fa-eye"></i> {views} </div> 
        <!--    <a href="{full-link}"> <i class="icon-signin"></i></a>  -->

    </div>
  </div>


