    Актуальная тема
    <div style="margin-bottom:5px; position:relative; overflow:hidden;">
    <div class="act-title">Актуальная тема</div>
    <div class="act-news">
    <img style="margin:5px;" src="img/eastr.jpg" alt="eastreb" width="192" height="90" align="right" border="0" />
       <div class="title-actnews">МИД ПМР: Сенат и Госдеп США будут наказаны. Вместе с Лугаром!</div>
        <p>По информации  ИА "Лента ПМР",  в Сенате и Госдепе США возникло серьезное напряжение, связанное с резким0 заявлениями главы приднестровского МИДа Владимира Ястребчака.</p>
        <div class="data">13.02.2011 9:52:42</div>
        <div class="podrob" align="right"><a href="#">Подробности >></a></div>
    </div>
    </div>
    <div style="width:770px; height:1px; background:#F00; margin-bottom:10px;"></div>
    
    повторяющиеся блоки разделов
    <div class="razdel">
      <div class="razdel-t">Эксперты</div>
      <div class="news-r">
        <div class="title">О визите в Молдову Джозефа Байдена и перспективах этой страны</div>
        <img style="margin:5px;" src="img/123.jpg" alt="123" width="100" height="70" align="left" border="0" />
        <p>Недавно с визитом Молдову посетил вице президент США Джозеф Байден. Какие изменения могут произойти во внутриполитической обстановке в стране и во взаимоотношениях между берегами Днестра?
Коммунист и коммуняка, в чём же, всё таки, разница?</p>
        <div class="data">13.02.2011 9:52:42</div>
        <div class="podrob" align="right"><a href="#">Подробности >></a></div>
      </div>
      <div class="spisok">
        <ul>
          <li><a href="#">«Гармонизация с Россией – это провозглашение курса на модернизацию Приднестровья»</a></li>
          <li><a href="#">Д.Соин: «Ужесточать законодательство в отношении общественных организаций нецелесообразно»</a></li>
          <li><a href="#">Приднестровье: смысл модернизации</a></li>
          <li><a href="#">Миллионы для непризнанной демократии</a></li>
          <li><a href="#">«Стратегия развития Приднестровья: необходимые задачи и перспективы»</a></li>
        </ul>
      </div>
    </div>