<div class="dpad basenavi wrapper">
	<div class="bnnavi">
		<div class="navigation">{pages}</div> 
		<div class="nextprev">
			[prev-link]<span class="thide pprev"><i class="icon-caret-left"></i> Назад </span>[/prev-link]
			[next-link]<span class="thide pnext">Вперед <i class="icon-caret-right"></i></span>[/next-link]
		</div>
	</div> 
	<!-- <a class="thide toptop" onclick="scroll(0,0); return false" href="#">Наверх</a> -->
</div> 