    <div class="razdel">
      <div class="news-r">
        
<link href="file:///G|/LentaPMR/shab/style.css" rel="stylesheet" type="text/css">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="50%" valign="top">
    <ul>
    <li><h5>Новости:</h5></li>
    <li>Общее кол-во новостей: <b class="blue">{news_num}</b></li>
    <li>Из них опубликовано: <b class="blue">{news_allow}</b></li>
    <li>Опубликовано на главной: <b class="blue">{news_main}</b></li>
    <li>Ожидает модерации: <b class="blue">{news_moder}</b></li>
  </ul>
    </td>
    <td width="50%" valign="top">
    <ul>
    <li><h5 class="blue">Комментарии:</h5></li>
    <li>Кол-во комментариев: <b class="blue">{comm_num}</b></li>
    <li><a href="/?do=lastcomments">Посмотреть последние</a></li>
  </ul>
    </td>
  </tr>
  <tr>
    <td width="50%" valign="top">
      <ul>
        <li><h5 class="blue">Пользователи:</h5></li>
        <li>Общее кол-во пользователей: <b class="blue">{user_num}</b></li>
        <li>Из них забанено: <b class="blue">{user_banned}</b></li>
      </ul>
    </td>
    <td width="50%" valign="top">
      <ul>
      <li>За сутки: <span class="blue">Добавлено {news_day} новостей и {comm_day} комментариев, зарегистрировано {user_day} пользователей</span></li>
      <li>За неделю: <span class="blue">Добавлено {news_week} новостей и {comm_week} комментариев, зарегистрировано {user_week} пользователей</span></li>
      <li>За месяц: <span class="blue">Добавлено {news_month} новостей и {comm_month} комментариев, зарегистрировано {user_month} пользователей</span></li>
    </ul>
    </td>
  </tr>
  <tr>
    <td colspan="2">Общий размер базы данных: {datenbank}</td>
  </tr>
</table>
    <div class="razdel">
      <div class="news-r">
        <div class="title"><h3>Лучшие пользователи</h3></div>
        <table width="100%" class="userstop">{topusers}</table>
      </div>
    </div>

      </div>
    </div>
